<mat-grid-list cols="3" rowHeight="3:2">
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Colonia Paco Fútbol</mat-card-title>
          <mat-card-subtitle>Precio: 18€</mat-card-subtitle>
          <img mat-card-xl-image src="./assets/images/paco.jpg" >
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        Colonia Paco Fútbol, ideal para cuando toca ponerse elegante pues es importante tener un buen olor que sorprenda a todas las personas a tu alrededor.
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Crocs Rayo McQueen</mat-card-title>
          <mat-card-subtitle>Precio: 220€</mat-card-subtitle>
          <img
            mat-card-xl-image
            src="./assets/images/Crocs-Rayo-McQueen.webp"
          >
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        Con estas increibles crocs, que no te quepa duda, serás el más rápido de tu clase.
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Camiseta Pibe 10</mat-card-title>
          <mat-card-subtitle>Precio: 16€</mat-card-subtitle>
          <img mat-card-xl-image src="./assets/images/ben10.jpg" >
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        La camiseta de tu héroe favorito está disponible en nuestra tienda por si toca salvar el mundo.
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Pantalones Fortnite</mat-card-title>
          <mat-card-subtitle>Precio: 20€</mat-card-subtitle>
          <img mat-card-xl-image src="./assets/images/fortnite.jpg" >
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        Con los pantalones de Fortnite ten por seguro que serás el más molón de tu clase y conseguiras una Victory Royale.
      </mat-card-content>
    </mat-card></mat-grid-tile
  >
  <mat-grid-tile
    ><mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Conjunto Invierno Gormiti</mat-card-title>
          <mat-card-subtitle>Precio: 12€</mat-card-subtitle>
          <img mat-card-xl-image src="./assets/images/gormiti.jpg" >
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        No pases frío y sin ser del reino del fuego gracias al conjunto de guantes y gorro de Gormiti.
      </mat-card-content>
    </mat-card></mat-grid-tile
  >
  <mat-grid-tile
    ><mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Botas Cristiano Ronaldo</mat-card-title>
          <mat-card-subtitle>Precio: 120€</mat-card-subtitle>
          <img mat-card-xl-image src="./assets/images/cr7.jpg" >
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        Las botas del Bicho, Cristiano Ronaldo, para usarlas diariamente para cualquier cosa por si sale la reta. Aún huelen a Nike 
      </mat-card-content>
    </mat-card></mat-grid-tile
  >
</mat-grid-list>
